<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div class="container mt-5">
            <button type="button" class="btn btn-primary" @click="add">add layer</button>
        
        <div class="row mt-5"  v-cloak>
            <div class=" col col-sm-6">
            <div class="cake">
                 <div class="layer" v-for="(layer,i) in layers" 
                 :class="'layer-'+layer.type" 
                 :style="{height:layer.height *5+'px'}"
                 @click="changeKey(i,+1)"
                 @contextmenu.prevent="changeKey(i,-1)"
                 >
                 </div>
            </div>
            </div>
            <div class=" col col-sm-6">
            <table class="table table-bordered" v-show="hasLayers">
                <tr>
                    <th>Type</th>
                    <th>Height</th>
                    <th>Actions</th>
                </tr>
                <tr v-for="(layer, i) of layers">
                    <td class="d-flex">
                    <select  class="form-control" v-model="layers[i].type">
                        <option :value="key"  v-for="(bricks ,key) in layersTypes">
                           {{bricks.label}}
                        </option>
                    </select>
                    </td>
                    <td>
                     <input type="text" class="form-control" v-model="layers[i].height">
                    </td>
                    <td>
                        <button type="button" @click="delateL" class="btn btn-danger" @click="add">delete</button>
                    </td>
                </tr>
            </table>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-12">
              <h1 style="color:rgb(0, 225, 255)">{{ price}}$</h1>
            </div>
        </div>
    </div>
   </div>
<script src="./vue.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>